In [79]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [117]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [118]:
url='https://mars.nasa.gov/news/'
browser.visit(url)

In [97]:
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [98]:
news_title = news_soup.find_all('div', class_='content_title')[0].text
news_p = news_soup.find_all('div', class_='article_teaser_body')[0].text

print(news_title)
print("--------------------------------------------------------------------")
print(news_p)

Mars Now
--------------------------------------------------------------------
Stacking spacecraft components on top of each other is one of the final assembly steps before a mission launches to the Red Planet.

In [99]:
jpl_nasa_url = 'https://www.jpl.nasa.gov'
images_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

browser.visit(images_url)

In [100]:
html = browser.html

images_soup = BeautifulSoup(html, 'html.parser')

In [101]:
relative_image_path = images_soup.find_all('img')[3]["src"]
featured_image_url = jpl_nasa_url + relative_image_path
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23904-640x350.jpg

In [102]:
tweet_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(tweet_url)
html = browser.html

soup = BeautifulSoup(html, 'html.parser')

tweet_container = soup.find_all('div', class_="js-tweet-text-container")

for tweet in tweet_container: 
    mars_weather = tweet.find('p').text
    if 'sol' and 'pressure' in mars_weather:
        print(mars_weather)
        break
    else: 
        pass

In [103]:
facts_url = "https://space-facts.com/mars/"
browser.visit(facts_url)
html = browser.html

In [113]:
tables = pd.read_html(facts_url)
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [114]:
tables[0].columns = ['Description', 'Value']
tables[0]

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [115]:
tables[0].to_html('table.html')

In [119]:
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

browser.visit(hemispheres_url)

In [120]:
html_hemispheres = browser.html

soup = BeautifulSoup(html_hemispheres, 'html.parser')

In [121]:
items = soup.find_all('div', class_='item')

hemisphere_image_urls = []

hemispheres_main_url = 'https://astrogeology.usgs.gov'

for item in items: 
   
    title = item.find('h3').text
    
    image_url = item.find('a', class_='itemLink product-item')['href']

    browser.visit(hemispheres_main_url + image_url)

    image_html = browser.html

    soup = BeautifulSoup( image_html, 'html.parser')

    image_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']

    hemisphere_image_urls.append({"Title" : title, "Image_URL" : image_url})

In [122]:
hemisphere_image_urls

[{'Title': 'Cerberus Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'Title': 'Schiaparelli Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'Title': 'Syrtis Major Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'Title': 'Valles Marineris Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [123]:
print(f"Hemisphere Image URLs")
print()
print("-------------------------------------------------")
print()
print(f"Cerberus Hemisphere Enhanced:\n{hemisphere_image_urls[0]}")
print()
print(f"Schiaparelli Hemisphere Enhanced:\n{hemisphere_image_urls[1]}")
print()
print(f"Syrtis Major Hemisphere Enhanced:\n{hemisphere_image_urls[2]}")
print()
print(f"Valles Marineris Hemisphere Enhanced:\n{hemisphere_image_urls[3]}")

Hemisphere Image URLs

-------------------------------------------------

Cerberus Hemisphere Enhanced:
{'Title': 'Cerberus Hemisphere Enhanced', 'Image_URL': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}

Schiaparelli Hemisphere Enhanced:
{'Title': 'Schiaparelli Hemisphere Enhanced', 'Image_URL': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}

Syrtis Major Hemisphere Enhanced:
{'Title': 'Syrtis Major Hemisphere Enhanced', 'Image_URL': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}

Valles Marineris Hemisphere Enhanced:
{'Title': 'Valles Marineris Hemisphere Enhanced', 'Image_URL': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}